---
title: Home
description: The latest app to help you find new friends with common interests.
image: /images/renewables.jpg
bottom_image: /images/coal.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Are you a Coal Miner looking for a new path?</h1>
			<p class="subtext editable">We'll train you to work in the wind or solar industry and help you find a job for free!</p>
			<div class="cta button alt"><a href="/signup">Sign Up</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Free? What's the catch?</h2>
				<p class="editable">Seriously, 100% free! There is no catch! The solar industry is growing like crazy and they need to hire good people. We work with some of the largest companies in the industry and they pay us a commission for every qualified person we train and send their way!</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">So how does it work?</h2>
				<p class="editable">Just give us your email! When the training materials are ready, we'll send you a link to download our free app. At that point, just go through the materials in your spare time. When you've finished all the lessons and are comfortable with everything you've learned, we'll help you find a new job!</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Just 4 easy steps!</h2>
				<p class="editable">1) Sign up - Give us your email now and we'll reserve you a spot in our first group</p>
				<p class="editable">2) Download - We'll send you a link to download our free app when it's ready</p>
				<p class="editable">3) Learn - Do the training on your own time: no classrooms, no teachers, no books</p>
				<p class="editable">4) New Career - We put you in touch with companies interested in your expertise</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Why are we doing this?</h2>
				<p class="subtext editable">Coal country has been hit hard by layoffs and automation. But miners made America what it is today. You're some of the hardest workers in this great country and you deserve a job you can be proud of.</p>
				<div class="cta button alt"><a href="/signup">Sign Up</a></div>
			</div>
		</div>
	</section>
</div>
